.popup {
  position: absolute;
  top: -100%;
  left: 50%;
  color: white;
  padding: 1rem;
  transition: 0.5s ease-out;
  opacity: 0.5;
  transform: translateX(-50%);
  max-width: 500px;
  text-align: center;
  background-color: var(--green);
  border-radius: 10px;
}

.popup.show {
  top: 30px;
  opacity: 1;
}
