.navbar-dropdown {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  user-select: none;
}

.navbar-dropdown-avatar {
  width: 50px;
  height: 50px;
  cursor: pointer;
  margin-right: 2.75rem;
  border-radius: 50%;
  overflow: hidden;
}

.navbar-dropdown-dropdown {
  position: absolute;
  min-width: 250px;
  top: 5.2rem;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  box-shadow: -15px -15px 35px rgba(0, 0, 0, 0.1),
    4px 4px 25px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  background-color: white;
  transform: translateY(-400px);
  opacity: 0;
  transition: 0.2s;
  z-index: 100;
}

.navbar-dropdown-dropdown.show {
  transform: translateY(0);
  opacity: 1;
}

.navbar-dropdown-dropdown::before {
  content: '';
  position: absolute;
  right: 10px;
  top: -21px;
  border-right: 58px solid transparent;
  border-left: 58px solid transparent;
  border-bottom: 58px solid white;
}

.navbar-dropdown-dropdown hr {
  display: block;
  margin: 0 -30px 0 -30px;
  border: 0;
  border-bottom: 2px solid rgba(168, 168, 168, 1);
}

.navbar-dropdown-item {
  display: flex;
  align-items: center;
  text-decoration: none;
  gap: 13px;
  font-size: 18px;
  font-weight: 400;
  color: #212121;
  cursor: pointer;
}

.navbar-dropdown-item img {
  width: 30px;
}
