.home-hero {
  position: relative;
  padding: 3rem 3rem 5rem 3rem;
}

.home-hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: var(--brown-200);
  width: 90%;
  z-index: -1;
}

.home-hero-heading {
  text-transform: uppercase;
  margin: 0.75rem 0 1.75rem 0;
  font-size: 22px;
  font-weight: 500;
}

.home-hero-lead {
  font-size: 17px;
  max-width: 400px;
}

.home-hero-image {
  position: absolute;
  top: 1.5rem;
  right: 0;
  z-index: 2;
}

.home-hero-waves {
  position: absolute;
  top: 17rem;
  right: 12rem;
  z-index: 1;
}
