.detail-product-detail {
  flex-grow: 1;
}

.detail-product-name {
  font-size: 36px;
  font-weight: 800;
  margin-bottom: 1rem;
  color: var(--brown-400);
}

.detail-product-stock {
  margin-bottom: 2.5rem;
  font-size: 18px;
  color: var(--brown-300);
}

.detail-product-price {
  text-align: right;
  margin: 3rem 0;
  font-size: 20px;
  font-weight: 700;
  color: var(--brown-300);
}
